<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Task</title>
</head>
<body>
<script>
function validateForm() {
    let title = document.forms["taskForm"]["title"].value;
    let date = document.forms["taskForm"]["date"].value;
    let category = document.forms["taskForm"]["category"].value;
    let priority = document.forms["taskForm"]["priority"].value;

    if (title === "" || date === "" || category === "") {
        alert("All required fields must be filled out.");
        return false;
    }
}
</script>

<h1 style="text-align: center; color: #fff; background-color: #333; padding: 20px; border-radius: 10px;">Add Task</h1>

<div style="display: flex; justify-content: center; margin-top: 40px;">
  <form name="taskForm" action="#" th:action="@{/tasks}" th:object="${task}" method="post" onsubmit="return validateForm()" style="background-color: #444; border: 1px solid #555; border-radius: 10px; padding: 20px;">
    <p style="color: #fff; padding: 10px;">Title: <input type="text" th:field="*{title}" style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px; width: 100%;"></p>
    <p style="color: #fff; padding: 10px;">Priority: <input type="number" th:field="*{priority}" min="1" max="3" style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px; width: 100%;"></p>
    <p style="color: #fff; padding: 10px;">Date: <input type="datetime-local" th:field="*{date}" style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px; width: 100%;"></p>
    <p style="color: #fff; padding: 10px;">Complete?: <input type="checkbox" th:field="*{complete}" value="true" style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px;"></p>
    <p style="color: #fff; padding: 10px;">Category: <input type="text" th:field="*{category}" style="background-color: #333; color: #fff; padding: 10px; border: none; border-radius: 5px; width: 100%;"></p>
    <input type="submit" value="Add Task" style="background-color: #333; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
  </form>
</div>

<div style="text-align: center; margin-top: 40px;">
  <a style="text-decoration: none; color: #333; background-color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" href="/">Home</a>
  <a style="text-decoration: none; color: #333; background-color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" href="/tasks/list">View All Tasks</a>
</div>

</body>
</html>