<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Task</title>
</head>
<body>
    <h2>Update Task</h2>
    <form th:action="@{/tasks/update/{id}(id=${task.id})}" th:object="${task}" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="*{title}" /><br />

        <label for="priority">Priority:</label>
        <input type="text" id="priority" name="priority" th:value="*{priority}" /><br />

        <label for="deadline">Deadline:</label>
        <input type="date" id="date" name="date" th:value="*{date}" /><br />
        
        <label for="isComplete">Is Recurring:</label>
        <input type="checkbox" id="isComplete" name="isComplete" th:checked="*{isComplete}" /><br />

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" th:value="*{category}" /><br />

        <button type="submit">Update Task</button>
    </form>
</body>
</html>
